# Ghost Headless CMS URL
# Example: http://n8n-ghost-310718-77-42-42-63.traefik.me
GHOST_URL=http://n8n-ghost-310718-77-42-42-63.traefik.me

# Ghost Content API Key
# Go to Ghost Admin -> Settings -> Integrations -> Add Custom Integration
GHOST_CONTENT_API_KEY=7905a5c134b9dd7b416ffb0303
