@import 'tailwindcss';

@theme {
    /* Colors */
    --color-primary: #0c4c55;
    --color-primary-hover: #0a3f47;

    --color-secondary: #ff5733;
    --color-secondary-hover: #e64a2e;

    --color-accent-cyan: #22d3ee;

    --color-surface: #f3f5ff;
    --color-surface-white: #ffffff;
    --color-surface-light: #f8fafc;

    --color-text-primary: #0f172a; /* #0F172A */
    --color-text-secondary: #64748b; /* #64748B */

    /* Fonts */
    --font-sans: 'Lora', serif;
    --font-display: 'Roboto Condensed', sans-serif;
    --font-display--font-feature-settings: 'kern', 'liga', 'calt';

    /* Transitions */
    --transition-fast: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    --transition-normal: 200ms cubic-bezier(0.4, 0, 0.2, 1);
    --transition-slow: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

 

/* Уклањам све CSS везан за звездице */
